.txt{
  color: rgb(0, 113, 133);
  font-size: 18px;
}

.price{
  color: rgb(0, 118, 0);
  font-weight: bold;
  font-size: large;
}

.cart{
  background-color: rgb(255, 216, 20);
  border: none;
  height: 35px;
  width: 125px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 28px;
  cursor: pointer;
  margin-right: 8;
}

.buy{
  background-color: rgb(255, 164, 28);
  border: none;
  height: 35px;
  width: 125px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 28px;
  cursor: pointer;
  margin-right: 8;
}