.img-1{
  width: 200px;
  border-radius: 17px;
  margin-right: 25px;
}

.img-2{
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  margin-right: 25px;
}

.img-3{
  width: 200px;
  object-fit: contain;
  border-radius: 200px;
  object-position: center;
}